.previous-searches-box {
    float: right;
    width: 35rem;
    background-color: $light-blue;
    padding: $l-size $m-size;
    margin: 0 $l-size 0 $l-size;
    border-bottom: .3rem solid darken($dark-blue, 10%);
}

.previous-searches__h3 {
    color: $off-white;
    font-weight: 500;
    font-size: 3rem;
    margin: 0;
    word-break: break-all;
    padding-bottom: $s-size;
    padding-top: 3px;
    border-bottom: 1px solid lighten($light-blue, 10%);
    text-align: center;
}

.previous-searches__li {
    margin: $s-size;
    color: $off-white;
    cursor: pointer;
    text-decoration: underline;
}
